.page.theme_dark {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-background: #000028;
  --accent-background-image: url(../images/cover-image-dark.png);
  --main-color-decor: #FF0070;
  --menu-color: #FF0070;
  --menu-color-transparent40: rgba(255, 0, 112, 0.40);
  --text-color: #000028;
  --h2-text-color: #FF0070;
  --article-text-color: #F1B2CE;
  --decor: "REC ";
  --decor-circle: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle fill="%23FF0070" filter="drop-shadow(0px 0px 4px %23FF0070)" cx="50" cy="50" r="42" /></svg>');
  --decor-corner: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --accent-background: #000028;
    --accent-background-image: url(../images/cover-image-dark.png);
    --main-color-decor: #FF0070;
    --menu-color: #FF0070;
    --menu-color-transparent40: rgba(255, 0, 112, 0.40);
    --text-color: #000028;
    --h2-text-color: #FF0070;
    --article-text-color: #F1B2CE;
    --decor: "REC ";
    --decor-circle: url('data:image/svg+xml,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle fill="%23FF0070" filter="drop-shadow(0px 0px 4px %23FF0070)" cx="50" cy="50" r="42" /></svg>');
    --decor-corner: #FF0070;
  }
}