/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: IBM Plex Mono;
  font-size: 18px;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url("../images/cover-image-dark.png");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

/*header*/

.header {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;  
  align-items: center;
  padding: 20px;  
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color:#FF0070;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  padding: 0px, 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid #FF0070;
}

.title {
  color: #DB00FF;
  font-weight: 700;
  font-size: 116px; 
  line-height: 82.5%;
  text-shadow: 4px 4px 0px #FF0070;
}

.title_description {
  justify-self: end;
  width: 100%; 
  min-width: 355px; /* максимальная ширина блока */
  font-family: inherit;
  font-weight: 700;
  background-color: #FF0070;
}


@media (min-width: 768px) and (max-width:1023.99px) {
  .title {
    font-size: 120px;
  }

  .title_description {
    width: 50%;
    min-width: 364px;
  }
  
}

@media (min-width: 1024px) {
  .title {
    font-size: 157px;
  }

  .title_description {
    max-width: 50%;
  }
}