/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-background: #000028;
  --accent-background-image: url(../images/cover-image-dark.png);
  --main-color-decor: #FF0070;
  --menu-color: #FF0070;
  --text-color: #000028;
  --h2-text-color: #FF0070;
  --article-text-color: #F1B2CE;
}